

.error {
  font-weight: bold;
  color: #FF0000;
}

.login {
  font-style: italic;
}
form {
  display:block;
  text-align: left;

}

form label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
  color: black;
}

table {
  width:60%;
  margin: auto;
  border-collapse: separate;
  border-radius: 3em;

}
td , th {
  border-color: white;
  border-width: 3px;
  border-style: solid;
  padding: .5em .5em .5em .5em;
  background-color: #f7e8de;
}
th {

}
td.label {
  font-weight: bold;
}


footer {
  padding-right: 2em;
  padding-left: 2em;
  padding-bottom: 2em;
  border-top: .3em solid brown;
}
img {
  width: 10%;
  margin: 2em;
  float: left;
  border: 2em, solid, blue;
}
body {
  background: url("stretch.jpg");
  background-color:#dadaf3;
}

html {
font-family: Scope One;
text-align: center;

}
